export(coefAnalysis)
export(getCoefficient)
export(getRegression)
export(plotRegression)
export(printRegression)
export(regAnalysis)
export(showRegression)
exportClasses(Coefficient)
exportClasses(Regression)
exportMethods(coefAnalysis)
exportMethods(getCoefficient)
exportMethods(getRegression)
exportMethods(initialize)
exportMethods(plotRegression)
exportMethods(printRegression)
exportMethods(regAnalysis)
exportMethods(showRegression)
